body {
	background: #F0EAAE;
	text-align: center;
}


.text {
    background: rgba(255, 255, 255);
}

.context {
    width: 800;
    background: rgba(255, 214, 219, 0.3);
    border: 1px solid black;
}

.contener {
    background: rgba(128, 128, 128, 0.95);
}

.map {
     list-style-type: none;
     display: flex;
}

.map li {
    margin-right: 40;
}